.landing {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 3rem;
  margin: 5rem;
  text-align: justify;
  background-color: var(--main-palette-1);
  border-radius: 10px;
}

.landing h1 {
  font-family: var(--main-font-2);
  font-size: 4rem;
  color: var(--main-palette-4);
  align-self: center;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 3rem;
  background-color: var(--main-palette-1);
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.item {
  min-width: 22rem;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  padding: 2rem 3rem 2rem 3rem;
  background-color: var(--main-palette-2);
  border-radius: 15px;
  display: grid;
  gap: 0;
  scroll-snap-align: start;
}

.item ul{
  margin: 0;
}