



.disciplineFormColorBox {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}


.disciplineFormLabel {
  justify-self: center;
}

.disciplineFormInput {
  margin-top: .5rem;
  padding: .5rem;
  width: 34rem;
  border-radius: 5px;
  border: .2rem solid var(--main-palette-2);
  outline: none;
  transition: border 0.1s ease-in-out;
  font-size: 1rem;
}

.disciplineFormInput:focus {
  border: .3rem solid var(--main-palette-2);
  outline: none;
  display: block;
}

.disciplineFormSelect {
  width: 15rem;
  padding: .5rem;
  gap: 1rem;
  border-radius: 5px;
  border: .2rem solid var(--main-palette-2);
  overflow-y: scroll;
  transition: all 0.3s ease-in-out;
}

.disciplineFormSelect:focus {
  outline: none;
}

.option {
  text-align: center;

}

.option:hover {
  background-color: var(--main-palette-4);
  color: var(--main-color-2);
}

.disciplineFormSubmitForm {
  margin-left: 0rem;
  padding: 0.3rem;
  height: 2rem;
  width: 5rem;
  background-color: var(--main-palette-1);
  border: .2rem solid var(--main-palette-2);
  border-radius: 6px;
  cursor: pointer;
}

