.footerBox {
  position: absolute;
  z-index: 1000;
  width: 100%;
  min-height: 10rem;
  background-color: var(--main-palette-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.footerBox>h1 {
  font-family: "Playwrite CU", cursive;
  color: var(--main-palette-4);
  margin: 1rem 0 0 0;
}

.footerRights {
  color: var(--main-color);
  font-size: 0.9rem;
  margin: 0 0 1rem 0;
  text-align: center;
}

.footerLinks {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.footerLinks a {
  text-decoration: none;
}

.footerVersion {
  color: var(--main-color);
  font-size: .7rem;
  align-self: flex-end;
  margin: 0 2rem 2rem 0;
}

@media screen and (max-width: 1024px) {
  .footerBox {
    min-height: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .footerBox>h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2rem;
    grid-column: 2;
    grid-row: 1 / 3;
  }
  
  .footerRights {
    color: var(--main-color);
    grid-column: 1;
    grid-row: 1 / 3;
    font-size: 1rem;
    margin: 0;
    padding: 0rem 0rem 0rem 2rem;
    text-align: start;
  }
  
  .footerLinks {
    margin: 3rem 4rem 0rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .3rem;
    font-size: 1rem;
    grid-column: 3;
    grid-row: 1;
    text-align: end;

  }
  
  .footerLinks a {
    text-decoration: none;
  }
  
  .footerVersion {
    grid-column: 3;
    font-size: .8rem;
    margin: 2rem 4rem 1rem 0;
    text-align: end;
  }
}

@media screen and (max-width: 480px) {
  .footerBox {
    min-height: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .footerBox>h1 {
    margin: .3rem 0 0 0;
    padding: 0rem 0rem 0rem .5rem;
    font-size: 1.5rem;
  }
  
  .footerRights {
    color: var(--main-color);
    grid-column: 1;
    font-size: 0.9rem;
    margin: 0 0 1rem 0;
    padding: 0rem 0rem 0rem .6rem;
    text-align: start;
  }
  
  .footerLinks {
    margin: 1rem 2rem 0rem 0;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    font-size: .6rem;
    grid-column: 2;
    grid-row: 1;
    text-align: end;

  }
  
  .footerLinks a {
    text-decoration: none;
  }
  
  .footerVersion {
    grid-column: 2;
    font-size: .5rem;
    margin: 0 2rem 1rem 0;
    text-align: end;
  }
}