@import "tailwindcss";

@theme {
  --color-main-1: #F3FEB8;
  --color-main-1-shadow: #FFF39F;
  --color-main-2: #FFDE4D;
  --color-main-3: #FFB22C;
  --color-main-4: #FF4C4C;
  --color-main-4-shadow: #EB4242;
  --color-color: #070707;
  --color-color-2: #f1f0e8;
  --alt-color: #dcdbdb;
  --alt-color-2: #565656;
  --main-font-size: 1rem;
  --main-h1-size: 2rem;
  --font-1: 'Lato', Arial, Helvetica, sans-serif;
  --font-2: "Playwrite CU", cursive;
  --pattern-header-1: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='31.25' height='20' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(69, 97%, 86%, 1)'/><path d='M.162 1.593c-.054 0-.108.008-.162.009v8.58c.055-.002.107-.017.163-.017 1.395 0 2.68.567 3.62 1.598l2.049 2.248a13.497 13.497 0 0 0 9.954 4.396c3.78 0 7.408-1.603 9.954-4.396l2.051-2.25a4.832 4.832 0 0 1 3.459-1.581V1.6a13.493 13.493 0 0 0-9.794 4.388l-2.05 2.25a4.844 4.844 0 0 1-3.62 1.597 4.84 4.84 0 0 1-3.619-1.598L10.118 5.99A13.498 13.498 0 0 0 .162 1.593z'  stroke-width='6' stroke='none' fill='hsla(52, 100%, 81%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  --pattern-header-2: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='31.25' height='20' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 0%, 0)'/><path d='M.162 1.593c-.054 0-.108.008-.162.009v8.58c.055-.002.107-.017.163-.017 1.395 0 2.68.567 3.62 1.598l2.049 2.248a13.497 13.497 0 0 0 9.954 4.396c3.78 0 7.408-1.603 9.954-4.396l2.051-2.25a4.832 4.832 0 0 1 3.459-1.581V1.6a13.493 13.493 0 0 0-9.794 4.388l-2.05 2.25a4.844 4.844 0 0 1-3.62 1.597 4.84 4.84 0 0 1-3.619-1.598L10.118 5.99A13.498 13.498 0 0 0 .162 1.593z'  stroke-width='6' stroke='none' fill='hsla(52, 100%, 81%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

/**** ScrollBar ***/
/******************/

::-webkit-scrollbar {
  height: 1.2rem;
  width: 1.2rem;
  background: var(--main-palette-4);
}

::-webkit-scrollbar-track {
  background: var(--main-palette-4);
  margin-block: 20px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-palette-2);
  border: .28rem solid var(--main-palette-4);
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFB22C !important;

}



/** Draggable List **/
/********************/

.addPageForm {
  width: 80vw;
  background-color: var(--main-palette-1);
  padding: 2rem;
  margin: 1rem 0rem 3rem 0;
  border-radius: 10px;
}
