.settingsContainer {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 1rem 5rem;
  background-color: var(--main-palette-2);
}

.settingsContainer h1 {
  font-size: 4rem;
  font-family: var(--main-font-1);
  color: var(--main-palette-4);
  margin: 0rem 0rem 3rem 0rem;
}

.settingsButton {
  min-width: 8rem;
  margin: 1rem 1rem 1rem 0;
  padding: 1rem;
  background-color: var(--main-palette-4);
  color: var(--main-palette-1);
  border: .25rem solid var(--main-palette-2);
  border-radius: 13px;
  font-size: 0.9rem;
  cursor: pointer;
}

.helpContainer {
  width: 100%;
  height: min-content;
  margin: 0;
  padding: 3rem;
  background-color: var(--main-palette-2);
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;

}

.helpItem {
  min-width: 20rem;
  width: 100%;
  height: min-content;
  margin: 0 1rem 0 1rem;
  padding: 2rem;
  background-color: var(--main-palette-1);
  border-radius: 15px;
  display: grid;
  gap: 0rem;
  scroll-snap-align: start;
  font-size: 1rem;

}

.helpItem h1 {
  color: var(--main-palette-4);
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {

  .settingsContainer {
    padding: 1rem 1rem;
  }

  .settingsContainer h1 {
    font-size: 3rem;
    margin: 0rem 0rem 1rem 0rem;
  }

  .settingsButton {
    min-width: 8rem;
    margin: .5rem 1rem .5rem 0;
    padding: .5rem;

  }

  .helpContainer {
    padding: 1rem;
  }

  .helpItem {
    min-width: 20rem;
    height: 23rem;
    padding: 1rem 1.3rem 1rem 1.3rem;
    font-size: 1rem;
  }

  .helpItem h1 {
    margin: 0 0 .5rem 0;
    font-size: 1.3rem;
  }

  .helpItem p {
    margin: 0 0 .5rem 0;
  }

  .helpItem ul {
    padding-left: 1rem;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .settingsContainer {
    padding: 1rem 1rem;
  }

  .settingsContainer h1 {
    font-size: 2rem;
    margin: 0rem 0rem 1rem 0rem;
  }

  .helpItem {
    min-width: 14rem;
    height: 18rem;
    padding: 1rem .5rem 1rem .5rem;
    font-size: .8rem;
  }

  .helpItem h1 {
    margin: 0 0 .5rem 0;
    font-size: 1.3rem;
  }

  .helpItem p {
    margin: 0 0 .5rem 0;
  }

  .helpItem ul {
    padding-left: 1rem;
    margin: 0;
  }
}